doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    // Making sure the web-site will scale fine on mobiles
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Trying to force IE to perform at its best
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    // Meta description, aim for about 150 characters
    meta(name='description', content='This theme is a very beautiful and minimalistic theme with a gorgeous animation that will make the user remember your website and want to come back.')
    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/css.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/linea.min.css')
    link(rel='stylesheet', href='/stylesheets/nas.min.css')
    // Favicons
    link(rel='icon', sizes='180x180', href='images/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/favicons/manifest.json')
    link(rel='shortcut icon', href='favicon.ico')
    meta(name='msapplication-config', content='/favicons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Site title
    title Library Management - Express.js
    
  body
    #loading-overlay.loading-overlay
    // Pace loader
    #pace.pace
      .pace-activity

    // Main content
    main#main.main
      #triangles.triangles.hero
        #output
        h1 Library Management 
      section.section.scrollspy
        .container
          .row
            .col.s12.l2
              block sidebar
                ul(class='sidebar-nav')
                  li 
                    a(href='/catalog') Home
                  li 
                    a(href='/catalog/books') All books
                  li 
                    a(href='/catalog/authors') All authors
                  li 
                    a(href='/catalog/genres') All genres
                  li 
                    a(href='/catalog/bookinstances') All book-instances
                  li 
                    hr
                  li 
                    a(href='/catalog/author/create') Create new author
                  li 
                    a(href='/catalog/genre/create') Create new genre
                  li 
                    a(href='/catalog/book/create') Create new book
                  li 
                    a(href='/catalog/bookinstance/create') Create new book instance 
            .col.s12.l10
              block content
      
    // Footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Libraries
    script(rel='text/javascript',src='/javascript/jquery.min.js')
    script(rel='text/javascript',src='/javascript/materialize.min.js')
    script(rel='text/javascript',src='/javascript/jquery.textillate.js')
    script(rel='text/javascript',src='/javascript/jquery.lettering.js')
    script(rel='text/javascript',src='/javascript/jquery.fittext.js')
    // Nas scripts
    script(rel='text/javascript',src='/javascript/config.js')
    script(rel='text/javascript',src='/javascript/nas.js')
    script(rel='text/javascript',src='/javascript/fss.js')
    script(rel='text/javascript',src='/javascript/triangles-iii.js')

     
    