body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #dacbcf;
  background-color: black;
}

a {
  color: #ff1560;
}

a:focus, a:hover {
    color: #a7697d;
    text-decoration: underline;
}

.text-success {
    color: #1ada1e;
}

.text-danger {
    color: #777;
}

.text-warning {
    color: #e6ef66;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.btn-primary {
    color: #fff;
    background-color: #390463;
    border-color: #360463;
}